
<body>
  <h1>{{Name}}</h1>
  
  <div  class="col-12" >
    <h4>Câu hỏi {{CurentQs + 1}} </h4>
    <p>{{cauhoi.Text}}</p>
    <div>
        <!-- <div class="form-check form-check-inline d-block neo  " width="100%" >
            <div class="form-check form-check-inline d-block neo1  " ng-repeat="n in cauhoi.Answers " >
              <input class="form-check-input " type="radio"  name="inlineRadioOptions" id="{n.Id}}" value="option1">{{n.Text}}
            
            </div>
            
        </div> -->
        <div class="input-group my-2 qs" ng-repeat="n in cauhoi.Answers">
          <div class="input-group-prepend ">
            <div class="input-group-text qs-item ">
            <input ng-checked="cauhoi.traloi == n.Id" ng-click="checkQS(cauhoi.Id, n.Id)" name="qs"  id="check-{{$index}}"  type="radio" aria-label="Radio button for following text input">
            </div>
          </div>
          <label class="form-control qs-item" for="check-{{$index}}" style="height: auto;">{{n.Text}}</label>
        </div>
      
    </div>
    <button ng-click="previous()"  class="btn btn-primary text-light mt-3">
      <i  class="bi bi-arrow-left"></i>
      Lùi</button>
    <button ng-click="next()" class="btn btn-success text-white mt-3 mx-4  ">Tiếp
      <i class="bi bi-arrow-right"></i>
    </button>
    
  </div>

  <!-- phancauhoi -->
  <div class="row">
  <div class="  col-sm-12  col-8">
   <div class="row mt-4" >
    <!-- || {{n.Id}} -->
      <div ng-repeat="n in subject" class="col-1 mt-2"><button id="qs-{{n.Id}}" ng-click="SelectQs($index)" class="bg-light shadow-sm rounded mx-2 text-dark" >{{$index < 9 ? "0" + ($index + 1)  : ($index + 1)}} </button></div>
   
    </div>
   <div class="row justify-content-center text-dark"> <a href="#!hoanthanh" ng-click="submit()" class="btn btn-info text-light  mt-4 mx-4 " >Hoàn thành bài thi</a></div>
</div>
</div>
</body>